nav {
  background-color: rgb(227, 227, 194);

  ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    li {
      padding: 1rem 1rem;
    }
    a {
      font-size: 1.5rem;
      color: rgb(110, 110, 105);
    }
  }
}
