.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;

  input,
  button {
    font-size: 1.5rem;
    padding: 0.55rem;
    border: 2px solid rgb(227, 227, 194);
  }
  input:focus {
    outline: none;
  }

  button {
    background-color: rgb(227, 227, 194);
    color: rgb(110, 110, 105);
    cursor: pointer;
    .searchIcon {
      width: 1.35rem;
      filter: invert(43%) sepia(5%) saturate(352%) hue-rotate(22deg)
        brightness(95%) contrast(82%);
    }
  }
}
